#agenda--masterWrapper {
    margin-top: 30px;
}

.agenda--wrapper {
    margin: 20px;
    margin-left: 30px;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    background-color: rgb(129, 138, 163);
    box-shadow: 0 3px 10px rgb(57, 57, 57);
    padding: 20px;
    transition: transform 0.3s;
}

.agenda--wrapper:hover {
    transform: translateY(10px);
}

.agenda--titel {
    font-size: 36px;
    font-weight: bold;
}

.agenda--datum {
    color: rgb(64, 64, 64);
    padding-bottom: 10px;
}

.agenda--body {
    padding: 0px 0 20px 0;
}

.agenda--img {
    max-height: 500px;
    border-radius: 7px;
}