#archief--wrapper {
    margin-top: 30px;
    margin-left: 50px;
    display: inline-block;
    vertical-align: top;

}

#archief--name {
    font-weight: bold;
    font-size: 2em;
}

#archief--genre {
    margin-top: 5px;
    color: gray;
}

#archief--title {
    margin-bottom: 0;
}

#archief--expoZWVWrapper {
    margin-top: 30px;
    margin-left: 40px;
}

.expo-image {
    margin: 10px;
    max-width: 400px;
    transition: max-width 1s;
}

.expo-image:hover {
    max-width: 550px;
}