.home--introtekst {
    margin-left: 50px;
    margin-top: 30px;
    border-radius: 5px;
    background-color: rgb(129, 138, 163);
    box-shadow: 0 1px 5px rgb(57, 57, 57);
    opacity: 1;
    padding: 20px;
    margin-right: 20px;
}

body {
    font-family: 'roboto slab', sans sarif;
    margin: 0;
    background-color: white;
}

.home--logo {
    max-width: 75px;
    padding-left: 30px;
}

.home--footer {
    display: inline-block;
    bottom: 0;
    float: right;
    /* border: red solid; */
    max-width: 50%;
    left: 100%;
}


