body {
    font-family: 'roboto slab', sans sarif;
    margin: 0;
    background-color: rgb(255, 215, 134);
}

#nav {
    position: sticky;
    top: 0;
    display: flex;
    width: 100%;
    align-items: center;
    background-color: rgb(1, 0, 2);
    justify-content: space-between;
    height: 100px;
    box-shadow: 0px 10px 20px gray;
    z-index: 100;
}


#header {
    display: flex;
    align-items: center;
}

#title {
    display: flex;
    color: white;
    font-size: 2.5em;
    margin-left: 100px;
}

#menu {
    color: rgb(124, 124, 124);
    display: flex;
    right: 50px;
    margin-left: 200px;
}

#menu > li {
    list-style: none;
    display: flex;
    padding-left: 30px;
    justify-content: space-between;
}

#logo {
    height: 60px;
    margin-left: 30px;
}

#top-image-container {
    position: relative;
    height: 250px;
    background-image: url("./images/rooie.jpg");
    background-repeat: none;
    background-size: cover;
    background-attachment: fixed;
    display: block;
}

.artistcard {
    width: 40%;
    display: inline-block;
    margin: 30px;
    position: relative;
    height: 640px;
    vertical-align: top;
    padding: 10px;
}

.genre {
    color: gray;
    font-size: 14px;
    margin-bottom: 0;
}

.name {
    margin-top: 0;
    width: 400px;
    margin-bottom: 0;
}

.instaHandle {
    color: gray;
    font-size: 14px;
    margin-bottom: 0;
}

.link-wrapper {
    margin-top: 0;
}

.website {
    color: gray;
    margin-top: 0;
    font-size: 14px;
    text-decoration: none;
}

.image {
    width: 400px;
}

#dropdown {
    display: inline-block;
    position: relative;
}

#dropdown-content {
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    overflow: auto;
    position: absolute;
    display:none;
}

#dropdown:hover #dropdown-content {
    display: block;
}

#dropdown-content a {
    color: rgb(124, 124, 124);
    text-decoration: none;
    display: block;
    background-color: rgb(38, 38, 38);
}

#dropdown-content a:hover {
    background-color: rgb(69, 69, 69);
}

#button {
    padding-left: 20px;
    font-size: 16px;
    color: rgb(124, 124, 124);
    font-family: 'roboto slab', sans-serif;
    font-weight: 700;
    background-color: rgb(1, 0, 2);
    border: none;

}